/* smallest devices (phones, 479.98px and down) */
@media only screen and (max-width: 479.98px) {
  .top-section h1 {
    font-size: 5vw;
  }

  .top-section {
    min-height: 10vh;
  }

  .top-section .nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10vh;
    margin: 0 1rem;
    padding-top: 0%;
  }

  .top-section .nav-items .items {
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .top-section .nav-items .items:hover {
    background-color: transparent;
  }

  .top-section .nav-items .items:hover a {
    color: inherit;
  }

  blockquote {
    font-size: 3vw;
    text-align: justify;
    margin-top: 10vh;
  }

  .author-info h2 {
    font-size: 4vw;
    padding: 0 1rem;
  }

  .author-img img {
    width: 70%;
    height: auto;
    padding: 0%;
    box-shadow: 0.8rem 1rem 1rem 0 rgb(146, 138, 138);
  }
}

/* smaller devices (phones, 480px and up) */
@media only screen and (min-width: 480px) {
  .top-section h1 {
    font-size: 5vw;
  }

  .top-section {
    min-height: 10vh;
  }

  .top-section .nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10vh;
    margin: 0 1rem;
    padding-top: 0%;
  }

  .top-section .nav-items .items {
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    margin: 0%;
  }

  .top-section .nav-items .items:hover {
    background-color: transparent;
  }

  .top-section .nav-items .items:hover a {
    color: inherit;
  }

  blockquote {
    font-size: 3vw;
    text-align: justify;
    margin-top: 10vh;
  }

  .author-info h2 {
    font-size: 4vw;
  }

  .author-img img {
    width: 70%;
    height: auto;
    padding: 0%;
    box-shadow: 0.8rem 1rem 1rem 0 rgb(146, 138, 138);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top-section h1 {
    font-size: 5vw;
  }

  .top-section {
    min-height: 10vh;
  }

  .top-section .nav-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    margin: 0 1rem;
    padding-top: 0%;
  }

  .top-section .nav-items .items {
    padding: 2rem 1.5rem 1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .top-section .nav-items .items:hover {
    background-color: var(--midnight);
  }

  .top-section .nav-items .items:hover a {
    color: var(--white);
    font-style: italic;
  }

  blockquote {
    font-size: 3vw;
    text-align: justify;
    margin-top: 10vh;
  }

  .author-info h2 {
    font-size: 4vw;
  }

  .author-img img {
    width: 70%;
    height: auto;
    padding: 0%;
    box-shadow: 0.8rem 1rem 1rem 0 rgb(146, 138, 138);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-device-width: 992px) {
  .top-section {
    min-height: 10vh;
  }

  .top-section h1 {
    font-size: 3vw;
  }

  .top-section .nav-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    margin: 0 1rem;
    padding-top: 0%;
  }

  .top-section .nav-items .items {
    padding: 2rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .top-section .nav-items .items:hover {
    background-color: var(--midnight);
  }

  .top-section .nav-items .items:hover a {
    color: var(--white);
    font-style: italic;
  }

  blockquote {
    font-family: cursive;
    font-size: 2.5vw;
    text-align: center;
    padding: 1rem 0;
    margin-top: 10vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .top-section h1 {
    font-size: 4vw;
  }

  .top-section {
    min-height: 10vh;
  }

  .top-section .nav-items .items {
    padding: 2rem 1.5rem 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  blockquote {
    font-size: 2.5vw;
    text-align: center;
  }

  .author-info h2 {
    font-size: 3vw;
    padding-left: 3rem;
  }

  .author-info p {
    font-size: 2vw;
    text-align: justify;
    padding: 0 3rem;
  }

  .author-img img {
    width: 70%;
    height: auto;
    padding: 0%;
    box-shadow: 0.8rem 1rem 1rem 0 rgb(146, 138, 138);
  }

  footer h2 {
    font-size: 3vw;
  }

  .social-items {
    font-size: 4vw;
  }
}
