@import "./variable.css";
@import "./blogPost1-2Grid-flex.css";

html,
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--bg-color);
}

.top-section {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 0rem;
  min-height: 10vh;
  background-color: var(--text-gray);
}

.top-section h1 {
  margin-top: 0%;
  padding: 0 1rem;
  font-family: var(--Abel);
  font-size: 3vw;
  font-style: oblique;
  color: var(--bg-color);
}

.top-section .nav-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0%;
  height: 0rem;
  min-height: 10vh;
  margin: 0 1rem;
  list-style-type: none;
  font-family: var(--Josefin);
}

.top-section .nav-items .items {
  padding: 2rem 1.5rem 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.top-section .nav-items .items:hover {
  background-color: var(--midnight);
}

.top-section .nav-items .items:hover a {
  color: var(--white);
  font-style: italic;
}

header h1 {
  font-size: 5vw;
  font-style: oblique;
  font-family: var(--Lexend);
  padding: 0 2rem 1rem 2rem;
  margin: 0%;
}

main .author-initial-info img {
  width: 5vw;
  height: auto;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 10rem /5rem;
}

main .author-initial-info p {
  font-size: 1.5vw;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(60, 60, 196);
}

main .extended-information {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 2vw;
  font-family: var(--Lexend);
  text-align: justify;
}

main .extended-information .pic img {
  width: 100%;
  height: auto;
}

figure {
  border: outset;
}

figcaption {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  margin: 0%;
  background-image: var(--sky);
}

footer .social-items {
  display: inline;
  padding-bottom: 2rem;
  margin: 0 2rem;
  font-size: 2rem;
}

footer .social-items i {
  padding: 1rem;
  margin: auto;
  font-size: 3vw;
  color: rgb(46, 41, 41);
}
