@import "../style/variable.css";

html,
body {
  background-color: beige;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: cursive, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--bg-color);
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 0rem;
  min-height: 10vh;
  background-color: var(--text-gray);
}

.top-section h1 {
  margin-top: 0%;
  padding: 0 1rem;
  font-family: var(--Abel);
  font-size: 3vw;
  font-style: oblique;
  color: var(--bg-color);
}

.top-section .nav-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0%;
  height: 0rem;
  min-height: 10vh;
  margin: 0 1rem;
  list-style-type: none;
  font-family: var(--Josefin);
}

.top-section .nav-items .items {
  padding: 2rem 1.5rem 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.top-section .nav-items .items:hover {
  background-color: var(--midnight);
}

.top-section .nav-items .items:hover a {
  color: var(--white);
  font-style: italic;
}

.contact-content {
  margin-top: 5vh;
}

#description {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  font-style: oblique;
  width: 60%;
  font-size: 1.5rem;
  color: black;
}

.main {
  background-color: rgba(138, 135, 135, 0.6);
  width: 60vw;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

#name-label,
#email-label,
#number-label {
  display: block;
  margin-left: 4em;
  margin-bottom: 0.4em;
}

#name,
#email,
#number {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 1.5rem;
  border-radius: 0.5em /2em;
}

#info-label {
  display: block;
  margin-left: 4em;
  margin-bottom: 0.4em;
}

#dropdown {
  display: block;
  margin-left: 5em;
  width: 40%;
  height: 30px;
  border-radius: 0.5em /2em;
}

p {
  display: block;
  margin-left: 4em;
}

#definitely,
#maybe,
#notsure {
  display: inline;
  margin-left: 7em;
}

#comments {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 0.5em /2em;
}

#submit {
  display: block;
  position: relative;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 50%;
  border-radius: 0.5em 2em;
  transition-duration: 0.5s;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(154, 163, 167);
}
